USE [retail_analytics]
GO

/*
===========================================================
Object: dbo.dim_customer
Type: Dimension table
Layer: Analytics (Star Schema)

Description:
Stores customer-level attributes used for sales analysis
and geographic segmentation.

Source:
Derived from order data in dbo.stg_order_export_raw
via the Python ETL pipeline.

Grain:
One row per unique customer_id.
===========================================================
*/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_customer](
	[customer_id] [bigint] NOT NULL,
	[gender] [varchar](20) NULL,
	[state_code] [char](2) NULL,
	[postal_code] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
