USE [retail_analytics]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_date](
	[date_id] [date] NOT NULL,
	[year] [smallint] NOT NULL,
	[quarter] [tinyint] NOT NULL,
	[month] [tinyint] NOT NULL,
	[month_name] [varchar](15) NOT NULL,
	[day] [tinyint] NOT NULL,
	[day_of_week] [tinyint] NOT NULL,
	[is_weekend] [bit] NOT NULL,
	[day_name] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[date_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
