USE [retail_analytics]
GO

/*
===========================================================
Object: dbo.dim_product
Type: Dimension table
Layer: Analytics (Star Schema)

Description:
Stores product attributes used to enrich sales fact data,
including SKU, names, and categorization.

Source:
Derived and maintained from dbo.stg_product_master
via the Python ETL pipeline.

Grain:
One row per unique product SKU.
===========================================================
*/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[main_sku_code] [varchar](120) NOT NULL,
	[english_name] [varchar](255) NULL,
	[chinese_name] [varchar](255) NULL,
	[customer_code] [varchar](100) NULL,
	[category] [varchar](100) NULL,
	[subcategory] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[main_sku_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
