USE [retail_analytics]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_order_export_raw](
	[orderNo] [varchar](100) NULL,
	[orderType] [varchar](100) NULL,
	[orderRealStatus] [varchar](50) NULL,
	[platformOrderNo] [varchar](100) NULL,
	[commercePlatform] [varchar](50) NULL,
	[name] [varchar](255) NULL,
	[country] [varchar](50) NULL,
	[city] [varchar](120) NULL,
	[postalCode] [varchar](20) NULL,
	[contactNo] [varchar](60) NULL,
	[urgent_orders] [varchar](50) NULL,
	[oneReference] [varchar](120) NULL,
	[twoReference] [varchar](120) NULL,
	[oneAddress] [varchar](255) NULL,
	[twoAddress] [varchar](255) NULL,
	[houseNo] [varchar](50) NULL,
	[masterSku] [varchar](100) NULL,
	[email] [varchar](255) NULL,
	[companyName] [varchar](255) NULL,
	[volume] [varchar](50) NULL,
	[actualWeight] [varchar](50) NULL,
	[serviceProvider] [varchar](50) NULL,
	[trackNo] [varchar](60) NULL,
	[expressDeliveryService] [varchar](100) NULL,
	[outBoundSource] [varchar](100) NULL,
	[logisticsStatus] [varchar](120) NULL,
	[trackNoReason] [varchar](255) NULL,
	[createTime] [datetime2](7) NULL,
	[submitTime] [datetime2](7) NULL,
	[deliveryTime] [datetime2](7) NULL,
	[pickingTime] [datetime2](7) NULL,
	[sku] [varchar](120) NULL,
	[batch_number] [varchar](120) NULL,
	[serial_number] [varchar](120) NULL,
	[goodsNumber] [int] NULL,
	[inventory_type] [varchar](120) NULL,
	[length] [varchar](50) NULL,
	[width] [varchar](50) NULL,
	[high] [varchar](50) NULL,
	[remarks] [varchar](255) NULL,
	[customer_id] [bigint] NULL,
	[state_code] [char](2) NULL,
	[volume_num] [float] NULL,
	[actualWeight_num] [float] NULL,
	[product_key] [varchar](120) NULL,
	[load_ts] [datetime2](7) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[stg_order_export_raw] ADD  DEFAULT (getdate()) FOR [load_ts]
GO
