USE [retail_analytics]
GO

/*
===========================================================
Object: dbo.stg_product_master
Type: Staging table
Layer: Staging / Reference data

Description:
Stores raw product master data loaded from CSV files.
Used to populate and update the product dimension.

Purpose:
Decouples raw product ingestion from analytics-ready
dimension tables.

Grain:
One row per unique product SKU from the source system.
===========================================================
*/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_product_master](
	[main_sku_code] [varchar](120) NOT NULL,
	[english_name] [varchar](255) NULL,
	[chinese_name] [varchar](255) NULL,
	[customer_code] [varchar](100) NULL,
	[category] [varchar](100) NULL
) ON [PRIMARY]
GO
